<div class="keep-c-list-container">
	<label>Not-Started</label>



 <mat-list>
<app-note *ngFor="let note of notStartedNotes" 
[note]="note">
    </app-note>
 </mat-list>

	<!-- Populate notStartedNotes -->
</div>
<div class="keep-c-list-container">
	<label>Started</label>
	 <mat-list>
		<app-note *ngFor="let note of startedNotes"      
[note]="note">
    </app-note>
 </mat-list>
	<!-- Populate startedNotes -->
</div>
<div class="keep-c-list-container">
	<label>Completed</label>
	 <mat-list>
	<app-note *ngFor="let note of completedNotes"      
[note]="note">
    </app-note>
 </mat-list>
	<!-- Populate completedNotes -->
</div>