<div class="row marginTop">
    <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-4 col-xl-6 offset-xl-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="submitMessage">
                    <strong class="error-input error-message">{{submitMessage}}</strong>
                </div>
                <form name="loginForm" (ngSubmit)="loginSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput class="username" name = "username" placeholder="Enter User Name" [formControl]="username">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input class="password" name = "password" matInput type="Password" placeholder="Enter Password" [formControl]="password">
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>