<!-- HeaderComponent to be displayed as part of AppComponent -->
<app-header></app-header>

<!-- Login/Dashboard component to be rendered based on route -->
<router-outlet></router-outlet>
 <router-outlet name="noteEditOutlet"></router-outlet>